* {
  color: #ffffff;
  background-color: #0f0f0f;
}

.App {
  text-align: center;
}

header {
  top: 0;
  left: 0;
  background: #1a1a1a;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #1A2A40;
}

header h1 {
  background: #1a1a1a;
  margin-bottom: 28px;
  border-bottom: 2px solid #263e5f;
  padding-bottom: 7px;
}

.corpo {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}

p {
  font-size: 120%;
}

.page-btn-1 {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 120%;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.btn-desc-p {
  max-width: 600px;
}

.corpo-1 {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 15px;
}

.page-btn-2 {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 120%;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.page-btn-3 {
  position: fixed;
  left: 1%;
  bottom: 10px;
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 120%;
  text-align: center;
  width: 98%;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 90px;
}

.corpo-2 {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 25px;
}

.atributos {
  width: 70%;
}

.classes {
  width: 70%;
}

.racas {
  left: 0%;
}